include ../mixins/login

extends ../layout

block content
  .header-topline
    .center
      .header-topline-container
        .header-topline-logo.header-topline-index
        .header-topline-headline
          h1 Herzlich Willkommen!
          h2 Germany's Next Topmodel Drinking Game Manager Professional
  .center
    .page-index
      .welcome
        p.quote Das muss in der nächsten Woche besser werden!
        p Das Streben nach Perfektion, welches Model-Mama Heidi ihren Zöglingen Woche für Woche facettenreich vermittelt, galt auch von jeher für die GNTM-Trinkspielgemeinschaft. Jahr für Jahr wird eine weitere Sprosse der Leiter zum perfekten Trinkspiel genommen. Auch dieser Lenz war kein ungenutzter.
        p!= "Dies soll <i>unsere</i>&nbsp; Homepage werden - eine Seite, die es wirklich verdient hat, das Wort home in sich zu tragen. In ihrer ersten Version wird sie vor allem einen Überblick über alle gemeldeten GNTM-Ligen bieten. Es können die Roaster/Portfolios anderer Mitspieler sowie die Zwischenstände eingesehen werden. Die Seite soll dabei vor allem jeder Liga die Dokumentation und Organisation des Ligaalltags erleichtern."
      .events-list
        .events-header Neuigkeiten
        each event in events
          .events-item(data-type=event.key, data-url=eventKeys(event.key).url)
            .events-date(title=event._createdOn)= moment(event._createdOn).fromNow()
            .events-message
              - if (eventKeys(event.key).url)
                a(href=template(eventKeys(event.key).url, event.variables))!= template(eventKeys(event.key).message, event.variables)
              - else
                != template(eventKeys(event.key).message, event.variables)