extends ../layout

block content

  .header-topline
    .center
      .header-topline-container
        .header-topline-logo.header-topline-leagues
        .header-topline-headline
          h1 Offizielle Spielverbände
          h2 Übersicht aller registrierten Spielverbände und Ligen
  .center
    .page-leagues
      - if (canCreateLeague)
        a.button-confirm.leagues-create(href='/leagues/add') Neue Liga gründen
      .list
        .list-row.list-handles
          .list-column.list-handle.leagues-list-handle(data-sortname='name', data-sortorder='desc', data-type='string') Liga
          .list-column.list-handle.leagues-list-handle.leagues-list-column-small(data-sortname='members', data-sortorder='desc', data-type='number') Mitglieder
          .list-column.list-handle.leagues-list-handle.leagues-list-column-small(data-sortname='playdays', data-sortorder='desc', data-type='number') Spieltage
          .list-column.list-handle.leagues-list-handle.leagues-list-column-small(data-sortname='founded', data-sortorder='desc', data-type='date') Gegründet
        each league in leagues
          .list-row.list-item.league-list-item(data-name=league.name, data-members=league.members, data-playdays=league.playdays, data-founded=league._createdOn.toString())
            .list-column.leagues-list-column
              a(href='/leagues/' + league.id)= league.name
            .list-column.leagues-list-column.leagues-list-column-small= league.members
            .list-column.leagues-list-column.leagues-list-column-small= league.playdays
            .list-column.leagues-list-column.leagues-list-column-small= moment(league._createdOn).format('DD.MM.')